@import '@/styles/variable.scss';
@import '@/styles/mixin.scss';

.info-block {
  margin-bottom: 15px;

  h4 {
    margin-bottom: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ddd;
  }

  li {
    display: flex;
    margin-bottom: 8px;
    width: 100%;

    .title {
      flex: 1;
      color: $themeColor;
      @include ellipsis;
    }

    .time {
      color: #ddd;
    }
  }
}