.article-page {
  
  .article-head {
    display: flex;
    align-items: center;
    margin: 4px 0 20px;

    .avatar {
      margin-right: 8px;
      width: 20px;
      height: 20px;
      border-radius: 6px;
    }

    .sub-bar {
      display: flex;
      font-size: 12px;
      color: #aaa;
      li {
        margin-right: 8px;
      }
    }
  }

  .article-body {
    border-bottom: 1px solid #ddd;
  }

  h1 {
    margin: 4px 0 0;
    font-size: 22px;
  }

  h4 {
    margin: 15px 0 10px;
  }

  .reply-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  .reply-item-head {
    display: flex;
    align-items: center;

    .avatar {
      margin-right: 8px;
      width: 30px;
      height: 30px;
      border-radius: 6px;
    }

    .reply-item-info {
      font-size: 12px;
      li:first-child {
        font-weight: bold;
      }
      li:last-child {
        color: #aaa;
      }
    }
  }

  .reply-item-body {
    margin: 10px 0;
  }

}