@import '@/styles/mixin.scss';

.topic-card-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  
  .card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    h4 {
      margin-left: 10px;
      flex: 1;
      @include ellipsis;
    }
  }

  .card-body {
    display: flex;

    .number-box {
      margin-left: 10px;
      flex: 1;
      li {
        margin: 2px 0;
      }
    }

    .time-from {
      height: 100%;
      box-sizing: border-box;
      padding-top: 24px;
      color: #888;
    }
  }
}