@import './variable.scss';
@import './semantic-rewrite.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: $fontColor;
  // background-color: $bodyBg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
div,
figure,
section {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  margin-top: 102px;
  padding: 0 15px 15px;
}

.align-center {
  text-align: center;
}

.ske-item {
  display: block;
  width: 100%;
  height: 10px;
  background: #eee;
}

pre.prettyprint {
  margin: 1rem 0;
  width: 100%;
}

pre.prettyprint, code.prettyprint {
  background: $headerBg;
}