@import './variable.scss';

.ui.inverted.segment {
  margin: 0;
  padding: 0;
  background: $headerBg;
}

.ui.secondary.inverted.pointing.menu {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

.ui.secondary.pointing.menu .item {
  transition: color .3s ease, border-color .3s ease;
  border-bottom-width: 4px;
}

.ui.secondary.inverted.pointing.menu .active.item {
  border-color: rgb(128, 189, 1);
}

.ui.green.button, .ui.green.buttons .button {
  background: rgb(128, 189, 1);
}

.ui.green.button:hover, .ui.green.buttons .button:hover {
  background-color: rgb(128, 189, 1);
}