@import '@/styles/variable.scss';

.side-bar {
  padding: 30px 10px;
  box-sizing: border-box;
  color: rgba(255,255,255,.7);
  text-align: center;
  background: #202020;
  box-shadow: 2px 2px 4px #888 !important;

  .content-head {
    text-align: center;

    .user-avatar {
      margin: 0 auto;
      width: 60px;
      height: 60px;

      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 1px solid #ddd;
      }
    }
  }

  .content-body {
    .list {
      li {
        margin-bottom: 8px;
        padding-bottom: 8px;
        color: $themeColor;
        // border-bottom: 1px solid $themeColor;
      }
    }

    .logout {
      color: red;
    }
  }

  h4 {
    margin: 10px 0 20px;
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .35);
  z-index: 101;
}