@import '@/styles/variable.scss';

.side-bar {
  color: rgba(255,255,255,.7);
  background: #202020;
  box-shadow: 2px 2px 4px #888 !important;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .35);
  z-index: 101;
}