.user-page {
  .base-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    img {
      margin-right: 10px;
      width: 60px;
      height: 60px;
      border-radius: 4px;
    }

    .info-list {
      li:first-child {
        margin-bottom: 2px;
        font-size: 1.2em;
        font-weight: bold;
      }
      li:not(:first-child) {
        font-size: 12px;
        color: #888;
      }
    }
  }
}